@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

@import "@fontsource/nunito/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root, [data-theme='light'] {
  --main-bg: 20 23 24;
  --content-bg: 254 254 254;
  --border-color: 232 236 239;
  --main-text-color: 20 23 24;
}
[data-theme='dark'] {
  --main-bg: 20 23 24;
  --content-bg: 35 38 39;
  --border-color: 52 56 57;
  --main-text-color: 254 254 254;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CONFIG */
.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: linear;
  transition-duration: .2s;
}

.transfer-list::-webkit-scrollbar {
  width: 4px;
}

.transfer-list::-webkit-scrollbar-track {
  background: transparent
}
 
.transfer-list::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);
  border-radius: 10px;
}